<!DOCTYPE html>
<html lang="en-AU">
    <%- include('./partials/head.ejs') %>
    <body>
        <div class="tint">
            <div class="pagecontainer">
                <%- include('./partials/nav.ejs') %>
                <main class="maincontent">
                    <script src="/jquery/jquery.min.js"></script>
                    <div class="container">
                        <h1><%= book.Title %></h1>
                        <div class="bookinfocontainer">
                            <div style="padding: 20px;">
                                <p><b>Author: </b><%= book.Author %></p>
                                <p><b>Type: </b><%= book.Type %></p>
                                <p><b>Fiction/Non-fiction: </b><%= book.ForNF %></p>
                                <p><b>Genre: </b><%= book.Genre %></p>
                                <p><b>Author: </b><%= book.Author %></p>
                                <h4>Blurb</h4>
                                <p><%= book.Blurb %></p>
                                <p><b>How many copies are available: </b><%= book.availableCopies%></p>
                            </div>
                        </div>
                    </div>
                    <input id="backbtn" class="userrecordbtn" type="button" value="Back" onclick="window.location.href='/usermenu/'"/>
                    <input class="userrecordbtn" type="button" value="Borrow"/>
                </main>
                <%- include('./partials/footer.ejs') %>
            </div>
        </div>
    </body>
</html>
