<!DOCTYPE html>
<html lang="en-AU">
    <%- include('./partials/head.ejs') %>
    <body>
        <div class="tint">
            <div class="pagecontainer">
                <%- include('./partials/nav.ejs') %>
                <main class="maincontent">
                    <script src="/jquery/jquery.min.js"></script>
                    <script src="adminmenu/js/deleteuser.js"></script>
                    <div class="tablelist">
                        <table>
                            <thead>
                                <tr>
                                    <th class="tableheader" colspan="6">Record ID: <br> <%=user._id%></th>
                                </tr>
                                <tr>
                                    <th class="tablesubhead" scope="col">userID</th>
                                    <th class="tablesubhead" scope="col">Full Name</th>
                                    <th class="tablesubhead" scope="col">Type</th>
                                    <th class="tablesubhead" scope="col">Email</th>
                                    <th class="tablesubhead" scope="col">D.O.B</th>
                                    <th class="tablesubhead" scope="col">Registration Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><%=user.userID%></td>
                                    <td><%=user.Name%></td>
                                    <td><%=user.Type%></td>
                                    <td><%=user.Email%></td>
                                    <td><%=user.DOB%></td>
                                    <td><%=user.Registration_Date%></td>
                                </tr>
                            </tbody>
                        </table>
                        <input id="deleteuserbtn" class="usersrecordbtn" type="button" data-id="<%= user._id%>" value="Delete"/>
                    </div>

                </main>
                <%- include('./partials/footer.ejs') %>
            </div>
        </div>
    </body>
</html>
