<!DOCTYPE html>
<html lang="en-AU">
    <%- include('./partials/head.ejs') %>
    <body>
        <div class="tint">
            <div class="pagecontainer">
                <%- include('./partials/nav.ejs') %>
                <main class="maincontent">
                    <div class="tablelist">
                        <table>
                            <thead>
                                <tr>
                                    <th class="tableheader" colspan="5">Current Users</th>
                                </tr>
                                <tr>
                                    <th class="tablesubhead" scope="col">UserID</th>
                                    <th class="tablesubhead" scope="col">Full Name</th>
                                    <th class="tablesubhead" scope="col">Type</th>
                                    <th class="tablesubhead" scope="col">Email</th>
                                    <th class="tablesubhead" scope="col">More</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% userlist.forEach(user => {%>
                                <tr>
                                    <td><%=user.userID%></td>
                                    <td><%=user.Name%></td>
                                    <td><%=user.Type%></td>
                                    <td><%=user.Email%></td>
                                    <td><input type="button" onclick="window.location.href='/adminmenu/user/<%= user._id%>';" value="More"/></td>
                                </tr>
                                <%})%>
                            </tbody>
                        </table>
                    </div>
                </main>
                <%- include('./partials/footer.ejs') %>
            </div>
        </div>
    </body>
</html>
<!-- onclick="window.location.href='';" -->